<div class="post-card">
  <a href="/post/{{id}}" id="post-cards">
    <h1>{{title}}</h1>
    <p>{{comment}}</p>
    <button data-id="{{id}}" class="deleteButton" id="delete">Delete Post</button>
  </a>
</div>