<H1>Create Post</H1>
<form>

  <label> Title</label>
  <input type="text" id="title" />
  <label>Post Content</label>
  <input type="text" id="content" />
  <button>Create Post</button>
</form>

<script src="/js/createPost.js"></script>