
<section id="post-section" data-id="{{id}}">
  <h3 >{{title}}</h3>
  <form>
    <label for="post-name">Post</label>
    <textarea name="post-title"  id="title">{{title}}</textarea>
     <label for="content-name">Content</label>
    <textarea name="content"  id="content">{{content}}</textarea>
   
      </div>
    </div>
    <button>Update Post</button>
  </form>
</section>

<script src="/js/editPost.js"></script>