<section>

  <h3>Login</h3>
  <form action="" id="login-form">
    <input type="text" placeholder="Email" id="login-email" />
    <input type="password" placeholder="Password" id="login-password" />
    <button>Login</button>
  </form>
  <p>Sign up
    <a href="/sign_up"> here </a>
    if you don't already have an account
  </p>
</section>

<script src="/js/login.js"></script>