<section>

  <h3 class="text-xl">Sign Up</h3>

  <form class="flex flex-col" action="" id="signup-form">
    <input class="border-solid border-2 border-blue-950 mt-2" type="text" placeholder="Name" id="user-name" />
    <input class="border-solid border-2 border-blue-950 mt-2" type="text" placeholder="Email" id="user-email" />
    <input class="border-solid border-2 border-blue-950 mt-2" type="password" placeholder="Password"
      id="user-password" />
    <input class="border-solid border-2 border-blue-950 mt-2" type="password" placeholder="Confirm Password"
      id="user-password-confirmation" />
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-700 rounded w-20">Signup</button>
  </form>

</section>

<script src="/js/signup.js"></script>